<!DOCTYPE html>
<html>
<head>
    <title>Status Results</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for result in results %}
            <tr>
                <td>{{ result.name }}</td>
                <td {% if result.status == "Running" %}class="running"
                    {% elif result.status == "Stopped" %}class="stopped"
                    {% endif %}>
                    {{ result.status }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>